header
    - var splitName = getSplitName(r.name)
    h1
        span.thin #{splitName[0]}
        span #{splitName[1]}
    - var label = _.get(r, 'info.label');
    if label
        h4 #{label}
    - var locationElements = buildLocationEls(r);
    if locationElements.length
        ul.location
            each el in locationElements
                li.locationEl #{el}
    ul.contact
        each pair in getContactValues(r)
            - var cssClass = "fa " + pair[1];
            li
                i(class=cssClass)
                span #{pair[0]}

